################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/bin/Debug/netstandard2.0
/src/obj
/test/core.test/bin/Debug/netcoreapp2.2
/test/core.test/obj
/src/bin
/.vs/core/DesignTimeBuild
/test/core.test/bin/Release/netcoreapp2.2
/.vs/core/v16
/core.sample/obj
/.vs/mxcd.core/v16
/core.sample/bin/Release/netcoreapp3.0
/core.sample/bin/Debug/netcoreapp3.0
