################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/core/v15
/src/bin/Debug/netstandard2.0
/src/obj
/test/core.test/bin/Debug/netcoreapp2.2
/test/core.test/obj
/src/bin
/.vs/core/DesignTimeBuild
